* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: #262d26;
}

.board {
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #262d26;
    color: #00ff7f;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid #00ff8029;
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.digits {
    width: 450px;
    height: 50px;

    display: flex;
    flex-wrap: wrap;
    background-color: #262d26;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid #00ff80bc;
    margin: 2px;
    color: #00ff7f;
    
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: #2d432d;
}


.horizontal-line{
    border-bottom: 1px solid #00ff7f;
}

.vertical-line{
    border-right: 1px solid #00ff7f;
}

.errors {
    color: #00ff7f;
}

.selected-number {
    background-color: #3f5f3f;
}

.button-ng{
    border: 1px solid #3f5f3f;
    border-radius: 50px;    
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #3f5f3f;
    color:#262d26;
    display: flex;
    position: relative;
    left: 20rem;
    top: 15rem;
    font-size: 1rem;
}

.wrap-btn {
    display: flex;
    position: relative;
    left: 20.5rem;
    top: 17rem;
}

/* SWITCH BUTTON */

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f5f3f;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #262d26;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3f5f3f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3f5f3f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(56px);
    -ms-transform: translateX(56px);
    transform: translateX(56px);
  }

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

